



body {
	background: url('../img/bg1.jpg') 0% 0% no-repeat;
	background-size: 100%;
}


#carousel-hider {
    width: 450px;
    overflow: hidden;
    float: left;
    margin-top: 300px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid lightgrey;
    border-radius: 10px;
}
 
.carousel-list {    
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}
 
.carousel-element {
    display: block;
    float: left;
}
 
.carousel-element img {
    max-width: 250px;
}
 
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    width: 90px;
    height: 35px;
    display: block;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
}
 
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
}
 
.carousel-arrow-left {
    background: url('../img/left_pistol.png') 0% 0% no-repeat;
	margin-top: 400px;
	margin-left: 550px;
    margin-right: 30px;
}
 
.carousel-arrow-right {
    background: url('../img/right_pistol.png') 0% 0% no-repeat;
	margin-top: 400px;
    margin-left: 30px;
}


p {
    font-family: Helvetica;
	color: #ff7f50;
	text-align: center;
}